[Unit]
Description=Dialogue Assistant Application
#Requires=bluetooth-autoconnect.service
#After=bluetooth-autoconnect.service
Requires=bluetooth.service
After=bluetooth.service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=liucy
Group=liucy
WorkingDirectory=/home/liucy/speech-to-speech/
EnvironmentFile=/home/liucy/speech-to-speech/scripts/dialog-assistant.env
ExecStart=/home/liucy/.pixi/bin/pixi run --manifest-path /home/liucy/speech-to-speech/pixi.toml -e orin-nano local2 "Newmine: USB Audio,default" INFO $DEEPSEEK_API_KEY
Restart=on-failure
RestartSec=5s
StandardOutput=journal
StandardError=inherit\
PrivateDevices=no

[Install]
WantedBy=multi-user.target
